{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block accounts-content %}
<div class="row">
  <div class="col-md-12">
    <h1>{% trans "Change Password" %}</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="well">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
        {% csrf_token %}

        {% include 'general/form_render.html' %}

        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
