{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block accounts-content %}
<div class="row">
  <div class="col-md-12">
    <h1>{% trans "Set Password" %}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-horizontal">
        {% csrf_token %}
        {% include 'general/form_render.html' %}
        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary" name="action">
              {% trans 'Set Password' %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
