# dev
beautifulsoup4==4.4.1
celery==3.1.23
Django==1.10.5
djangorestframework==3.5.3
django-allauth==0.25.2
django-celery-email==1.1.4
django-ckeditor==5.2.1
django-environ==0.4.0
django-extensions==1.6.7
django-rest-auth==0.9.0
Fabric3==1.13.1.post1
psycopg2==2.6.1


# test
coverage==4.1
django-nose==1.4.4
factory-boy==2.7.0
fake-factory==0.5.7
gunicorn==19.6.0
ipdb==0.10.0
nose-timer==0.6.0
flake8==3.2.1
selenium==2.53.2
whitenoise==3.1
