{% load i18n %}
<div class="container">
  <div class="header">
    <div class="header-nav">

      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ SITE_NAME }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for link in nav_links %}
              <li class="hvr-bounce-to-bottom {{ link.class }}">
                <a href="{{ link.href }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
