{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Your profile' %}{% endblock %}

{% block accounts-content %}
  <div class="profile-page">
    <h3>{% blocktrans with name=user.get_full_name %}{{ name }}'s profile {% endblocktrans %}</h3>
    <div class="row row-email">
      <div class="col-md-4">{% trans "Email" %}</div>
      <div class="col-md-8 row-data-email">{{ user.email }}</div>
    </div>
    <div class="row row-username">
      <div class="col-md-4">{% trans "Username" %}</div>
      <div class="col-md-8 row-data-username">{{ user.username }}</div>
    </div>
    <div class="row row-first-name">
      <div class="col-md-4">{% trans "First Name" %}</div>
      <div class="col-md-8 row-data-first-name">{{ user.first_name }}</div>
    </div>
    <div class="row row-last-name">
      <div class="col-md-4">{% trans "Last Name" %}</div>
      <div class="col-md-8 row-data-last-name">{{ user.last_name }}</div>
    </div>
    {% if editable %}
      <div class="text-center">
        <a class="btn btn-primary" href="{% url 'accounts:edit_profile' %}">{% trans 'Edit profile' %}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
