{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load common_filters %}

{% block title %}{% trans 'Lịch trình' %}{% endblock %}

{% block head-link %}
  {{ block.super }}
  <link href="{% static 'route/css/suggest.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <h3>{% trans 'Các địa điểm được gợi ý' %}</h3>
    </div>
    <div class="col-lg-3">
      <form id="filter_form">
        {{ filter_form }}
      </form>
    </div>
  </div>
  <div class="row">
    {% for suggest in suggests %}
      <div class="col-lg-3 suggest-list-item">
        <div class="well">
          <p>
            <a href="{{ suggest.get_absolute_url }}"><strong>{{ suggest.name }}</strong></a>
          </p>
          <div class="image" style="background-image: url('{{ suggest.get_google_image }}')"></div>
          <p>
            <i>{{ suggest.address }}</i>
          </p>
        </div>
      </div>
      {% empty %}
      <div class="col-lg-12">
        {% trans 'Không tìm thấy địa điểm gợi ý nào.' %}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div id="col-lg-12">
      {% build_pagination paginator page_obj %}
    </div>
  </div>
{% endblock %}

{% block footer-js %}
  {{ block.super }}

  <script>
      jQuery("#filter_form").change(function () {
          this.submit();
      });
  </script>
{% endblock %}
