{% load i18n %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">{{ SITE_NAME }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Link 1</a>
        </li>
        <li>
          <a href="#">Link 2</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ user.username }}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="profile" href="{% url 'accounts:profile' %}">
                {% trans "Profile" %}
              </a>
            </li>
            <li><a class="logout" href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'two_factor:login' %}{% if request.path != '/accounts/logout/' %}?next={{ request.path }}{% endif %}">
            {% trans "Log in" %}
          </a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>
