<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
{% load i18n %}
{% load staticfiles %}
<head>
  <title>{% block title %}Home{% endblock %} - {{ SITE_NAME }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="cache-control" content="public"/>
  <meta name="robots" content="follow, all"/>
  <meta name="language" content="{{ LANGUAGE_CODE }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
        content="{% block meta-description %}{{ SITE_NAME }}{% endblock %}"/>
  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
  <meta name="author" content="Antipro.VN"/>
  {% block meta %}{% endblock %}
  <link rel="pingback" href="/xmlrpc/"/>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  <link rel="home" href="/"/>
  {% block head-link %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}"/>
  {% endblock %}
  {% include '_js_defined_params.html' %}
  {% block head-js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>jQuery.noConflict();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  {% endblock %}
  <script src="{% static 'common/js/head_define.js' %}"></script>
</head>
<body id="{% block page_id %}{% endblock %}">
{% include '_top_nav.html' %}
<div class="container">
  {% include '_top_banner.html' %}
  {% block slider %}{% endblock %}
  <div id="content" class="hfeed">
    {% include '_notification.html' %}

    {% block content %}

    {% endblock %}
  </div>
  <footer>
    <div class="row">
      <div class="col-lg-12">
        {% include '_footer_nav.html' %}
        <p>
          {% blocktrans %}Powered by <a href="/">{{ SITE_NAME }}</a>{% endblocktrans %}
        </p>
      </div>
    </div>
  </footer>
</div>
{% block footer-js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
<script src="{% static 'common/js/foot_define.js' %}"></script>
</body>
</html>
